<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds only: the demo data loader for the store screenshots (scripts/screenshots.sh). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <receiver
            android:name=".DemoSeedReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" />
    </application>
</manifest>
